Q1. Create a Pandas Series that contains the following data: 4, 8, 15, 16, 23, and 42. Then, print the series.

In [8]:
import pandas as pd

# Create a Pandas Series
data = pd.Series([4, 8, 15, 16, 23, 42])

# Print the Series
print(data)

0     4
1     8
2    15
3    16
4    23
5    42
dtype: int64

Q2. Create a variable of list type containing 10 elements in it, and apply pandas.Series function on the
variable print it.

In [9]:
import pandas as pd

my_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
data = pd.Series(my_list)
print(data)

0     1
1     2
2     3
3     4
4     5
5     6
6     7
7     8
8     9
9    10
dtype: int64

Q3. Create a Pandas DataFrame that contains the following data

In [12]:
import pandas as pd

data = {
    'Name': ['Alice', 'Bob', 'Claire'],
    'Age': [25, 30, 27],
    'Gender': ['Female', 'Male', 'Female']
}
df = pd.DataFrame(data)
print(df)

     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female

Q4. What is ‘DataFrame’ in pandas and how is it different from pandas.series? Explain with an example.

Ans:In Pandas, a DataFrame is a two-dimensional labeled data structure that represents a table-like data structure with rows and columns. It is a fundamental data structure in Pandas and provides a way to organize and manipulate data efficiently. A DataFrame can be seen as a collection of Pandas Series objects, where each column of the DataFrame is a Series.

A Pandas Series, on the other hand, is a one-dimensional labeled array that can hold data of any type. It is similar to a column in a DataFrame but lacks the tabular structure of rows and columns.

Here's an example to illustrate the difference between a DataFrame and a Series:

```python
import pandas as pd

# Create a Pandas Series
ages = pd.Series([25, 30, 27, 35])

# Create a Pandas DataFrame
data = {
    'Name': ['Alice', 'Bob', 'Claire', 'Dave'],
    'Age': ages,
    'Gender': ['Female', 'Male', 'Female', 'Male']
}

df = pd.DataFrame(data)

print("Series:")
print(ages)
print("\nDataFrame:")
print(df)
```

Output:
```
Series:
0    25
1    30
2    27
3    35
dtype: int64

DataFrame:
    Name  Age  Gender
0  Alice   25  Female
1    Bob   30    Male
2 Claire   27  Female
3   Dave   35    Male
```

Q5. What are some common functions you can use to manipulate data in a Pandas DataFrame? Can
you give an example of when you might use one of these functions?

Pandas provides a wide range of functions to manipulate data in a DataFrame. Here are some common functions:

1. `head()` and `tail()`: These functions allow you to view the first few rows (`head()`) or last few rows (`tail()`) of the DataFrame. They are useful for inspecting the structure and content of the DataFrame.

```python
import pandas as pd

# Create a DataFrame
data = {'Name': ['Alice', 'Bob', 'Claire', 'Dave'],
        'Age': [25, 30, 27, 35],
        'Gender': ['Female', 'Male', 'Female', 'Male']}
df = pd.DataFrame(data)

# View the first few rows
print(df.head())

# View the last few rows
print(df.tail())
```

2. `describe()`: This function provides a statistical summary of the DataFrame, including count, mean, standard deviation, minimum, quartiles, and maximum values for numeric columns.

```python
import pandas as pd

# Create a DataFrame
data = {'Name': ['Alice', 'Bob', 'Claire', 'Dave'],
        'Age': [25, 30, 27, 35],
        'Gender': ['Female', 'Male', 'Female', 'Male']}
df = pd.DataFrame(data)

# Statistical summary of the DataFrame
print(df.describe())
```

3. `sort_values()`: This function allows you to sort the DataFrame by one or more columns. It is helpful for arranging the data in a specific order.

```python
import pandas as pd

# Create a DataFrame
data = {'Name': ['Alice', 'Bob', 'Claire', 'Dave'],
        'Age': [25, 30, 27, 35],
        'Gender': ['Female', 'Male', 'Female', 'Male']}
df = pd.DataFrame(data)

# Sort the DataFrame by 'Age' column
df_sorted = df.sort_values('Age')
print(df_sorted)
```

4. `groupby()`: This function is used to group the DataFrame by one or more columns. It allows you to perform aggregate functions or calculations on specific groups within the data.

```python
import pandas as pd

# Create a DataFrame
data = {'Name': ['Alice', 'Bob', 'Claire', 'Dave'],
        'Age': [25, 30, 27, 35],
        'Gender': ['Female', 'Male', 'Female', 'Male']}
df = pd.DataFrame(data)

# Group the DataFrame by 'Gender' and calculate the mean age
age_by_gender = df.groupby('Gender')['Age'].mean()
print(age_by_gender)
```

These are just a few examples of the many functions available in Pandas to manipulate data in a DataFrame. The choice of which function to use depends on the specific task or analysis you want to perform on the data.

Q6. Which of the following is mutable in nature Series, DataFrame, Panel?

Ans:In Pandas, both the Series and DataFrame are mutable in nature, meaning they can be modified after creation. However, the Panel object is not mutable and has been deprecated since version 0.20.0 of Pandas. Panels were designed to handle three-dimensional data, but the functionality has been mostly replaced by MultiIndexing in DataFrames.

To summarize:
- Series: Mutable (can be modified)
- DataFrame: Mutable (can be modified)
- Panel: Deprecated and not mutable

Therefore, the correct answer is that the Series and DataFrame are mutable in nature.

Q7. Create a DataFrame using multiple Series. Explain with an example.

In [14]:
import pandas as pd

# Create the series objects
name_series = pd.Series(['Alice', 'Bob', 'Claire'])
age_series = pd.Series([25, 30, 27])
gender_series = pd.Series(['Female', 'Male', 'Female'])

# Create the DataFrame using the series
data = {
    'Name': name_series,
    'Age': age_series,
    'Gender': gender_series
}
df = pd.DataFrame(data)

# Print the DataFrame
print(df)

     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female